<div class="container p-4">
    <div class="row">
        <div class="col-md-12">
            <div id="events_chart_div"></div>
        </div>
    </div>
</div>
<div class="d-none">
    <div id="datatype"><%= datatype %></div>
    <div id="datalist"><%= JSON.stringify(datalist) %></div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    var type = $('#datatype').text();
    var data = $('#datalist').text();
    var obj = JSON.parse(data);

    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawAnnotations);

    function drawAnnotations() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'DATE');
        if (type == 'hourly') {
            data.addColumn('number', 'HOUR');
        }
        data.addColumn('number', 'EVENTS');

        for (let i = 0; i < obj.length; i++) {
            let d = new Date(obj[i].date);
            if (type == 'hourly') {
                data.addRow([d.toDateString(), Number(obj[i].hour), Number(obj[i].events)]);
            } else {
                data.addRow([d.toDateString(), Number(obj[i].events)]);
            }
        }

        var autoHeight = 0
        if (type == 'hourly') {
            autoHeight = data.getNumberOfRows() * 20;
        } else {
            autoHeight = data.getNumberOfRows() * 60;
        }

        var options = {
            title: 'Number of Events - ' + type,
            chartArea: { 'width': '50%', 'height': '90%' },
            height: autoHeight,
            annotations: {
                alwaysOutside: true,
                textStyle: {
                    fontSize: 12,
                    auraColor: 'none',
                    color: '#555'
                },
                boxStyle: {
                    stroke: '#ccc',
                    strokeWidth: 1,
                    gradient: {
                        color1: '#f3e5f5',
                        color2: '#f3e5f5',
                        x1: '0%', y1: '0%',
                        x2: '100%', y2: '100%'
                    }
                }
            },
            hAxis: {
                title: 'Total Number',
                minValue: 0,
            },
            vAxis: {
                title: 'Date'
            }
        };
        var chart = new google.visualization.BarChart(document.getElementById('events_chart_div'));
        chart.draw(data, options);
    }
</script>